/**/
/*清空默认内外边距，加上就对了*/
*{padding:0;
margin:0;
/*使用css3盒子模型*/
box-sizing:border-box;
}
/*取消em,i标签的文字倾斜*/
em,i{
font-style:normal;
}
li{
/*去掉li的小圆点*/
list-style:none;
}
img{
/*为了兼顾低版本浏览器-如果图片外面有链接会有边框的问题*/
border:0;
/*取消图片底侧右空白的问题*/
vertical-align:middle;
}
button{
/*鼠标经过button时会变成小手，告诉用户可以点击*/
cursor:pointer;
}
.a{
/*设置颜色*/
color:#666;
/*取消下划线*/
text-decoration:none;
}
a:hover{
/*鼠标经过变红色*/
color:red;
}
.button,input{
/*给所有的按钮指定字体-\5B8B\4F53表示宋体，如果使用中文会出现乱码情况所以不用中文*/
font-family:Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}
.body{
/*抗锯齿让文字显示更加清晰-拼写没错*/
-webkit-font-smoothing:antialiased;
/*设置背景色*/
background-color:white;
/*指定字体大小/1.5倍行高，及字体*/
font:12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
/*字体颜色*/
color:#666;
}
/*清除浮动-使用伪元素(类似于两个类选择器，只需要在父元素中调用该类选择器（用clearfix名即可）即可，可以调用多个（用空格隔开）如class="选择器1 clearfix")*/
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{/*解决IE6,IE7兼容问题*/*zoom:1;}

                                   /*设置页面背景图片*/
body{
/*设置图片自适应*/
background-size:100%;
/*设置背景图片*/
/*background-image:url(../image/homepage-image//background.jpg);*/
/*正片*/
background-image:url(../image/替换-2/网页背景.jpg);
/*背景不平铺*/
background-repeat:no-repeat;
/*背景固定*/
/*background-attachment:fixed;*/
}

                                   /*对导航栏大盒子设置宽高及颜色*/
.导航栏{
/*设置宽高*/
width:auto;
height:60px;
/*设置颜色*/
background:rgba(255,255,255,0.2);
}

                                   /*设置首页、关于、分类、标签、的样式*/
.首页,.关于,.分类,.标签,.待定1,.待定2{
/*设置宽高*/
width:100px;
height:auto;
/*加粗*/
font-weight:bold;
/*字体居中*/
text-align:center;
/*浮动*/
float:left;
/*上外边距*/
margin-top:18px;
}

                                   /*设置导航栏a标签颜色*/
a{
/*设置白色字体*/
color:rgb(255,255,255);
}

                                   /*设置导航栏a标签鼠标经过事件*/
.导航栏-a:hover{
/*鼠标指针位于其上变大*/
font-size:130%;
color:rgb(0,255,255);
}
/*占位盒子-1占位盒子-1占位盒子-1占位盒子-1占位盒子-1占位盒子-1占位盒子-1占位盒子-1*/
.占位盒子-1{
/*设置宽高*/
width:auto;
height:300px;
/*设置背景颜色*/
/*background-color:red;*/
}

                                   /*对寄语盒子设置宽高及颜色左右外边距*/
.寄语{
/*设置宽高*/
width:auto;
height:60px;
/*设置颜色*/
background:rgba(255,255,255,0.5);
/*设置左右外边距*/
margin-left:400px;
margin-right:400px;
}

                                   /*寄语p标签样式*/
.寄语-p{
/*字体大小*/
font-size:25px;
/*字体颜色*/
color:red;
/*文本对齐方式-居中对齐*/
text-align:center;
/*单行文字垂直居中垂直居中-设置文本行间距等于盒子高*/
line-height:60px;
}



                                   /*对搜索栏盒子设置宽高及颜色左右外边距*/
.搜索栏{
/*设置宽高*/
width:auto;
height:60px;
/*设置颜色*/
background:rgba(255,255,255,0.2);
/*设置左右外边距*/
margin-left:400px;
margin-right:400px;
/*单行文字垂直居中垂直居中-设置其里面的盒子居中*/
text-align: center;
}

.收索栏表单{
/*设置宽高*/
width:auto;
height:35px;
/*清空表单轮廓线*/
outline:0;
}

.图片大盒子{
/*设置宽高*/
width:auto;
/*指定高度防止后面标准流覆盖浮动子盒子位置*/
height:256px;
/*设置颜色*/
background:rgba(255,255,255,0.9);
}

.图片盒子-左{
/*设置宽高*/
width:auto;
height:auto;
/*设置左浮动*/
float:left;
/*定义所有边框粗细*/
border-width:1px;
/*边框样式-设置实线边框*/
border-style:solid;
/*设置边框颜色*/
border-color:red;
/*margin负值的运用*/
margin-left:-1px;
}

.图片盒子-右{
/*设置宽高*/
width:auto;
height:auto;
/*设置左浮动*/
float:right;
/*定义所有边框粗细*/
border-width:1px;
/*边框样式-设置实线边框*/
border-style:solid;
/*设置边框颜色*/
border-color:red;
/*margin负值的运用*/
margin-left:-1px;
}
/*占位盒子-2占位盒子-2占位盒子-2占位盒子-2占位盒子-2占位盒子-2占位盒子-2占位盒子-2*/
.占位盒子-2{
/*设置宽高*/
width:auto;
height:500px;
/*设置背景颜色*/
/*background-color:blue;*/
/*设置边框*/
/*border:5px solid;*/
}

/*复合选择器-后代选择器-选择目标标签中的标签*/
.翻页盒子 a{
/*转换为行内块元素格式*/
display:inline-block;
/*设置宽高*/
width:35px;
height:35px;
/*设置背景颜色*/
background-color:pink;
/*设置边框及边框颜色*/
border:1px solid blue;
/*文字水平居中*/
text-align:center;
/*文字垂直居中-让文字的行高等于盒子的高度即可，即height与line-height相等*/
line-height:35px;
/*移除a的下划线*/
text-decoration:none;
/*文字颜色*/
color:blue;
/*文字大小*/
font-size:12px;
}

/*复合选择器-后代选择器-选择目标标签中的标签*/
.翻页盒子 .上一页,.翻页盒子 .下一页{
/*设置宽-35px不够*/
width:75px;
}
/*复合选择器-后代选择器-选择目标标签中的标签*/
.翻页盒子 .省略页{
/*设置背景颜色*/
background-color:white;
/*取消边框*/
border:none;
}

/*复合选择器-后代选择器-选择目标标签中的标签*/
.翻页盒子 input{
/*设置宽高*/
width:36px;
height:35px;
/*设置边框大小、样式、颜色*/
border: 1px solid #ccc;
/*取消点击蓝色边框*/
outline:none;
}

.翻页盒子 button{
/*设置宽高*/
width:36px;
height:35px;
/*设置底色*/
background-color:#f7f7f7;
/*设置边框大小、样式、颜色*/
border: 1px solid #ccc;
}

.翻页盒子{
/*文字水平居中-使其内的所有（行内块）标签居中*/
text-align:center;
}


.页脚盒子{
/*设置自动宽高*/
width:auto;
height:auto;
}

.页脚1{
/*设置宽高*/
width:400px;
height:30px;
/*盒子左右外边距都设置为auto-外边距可以让盒子水平居中*/
margin:0 auto;
/*设置上边距*/
margin-top:5px;
/*设置边框*/
/*border:1px solid;*/
}

.页脚2{
/*设置宽高*/
width:500px;
height:30px;
/*盒子左右外边距都设置为auto-外边距可以让盒子水平居中*/
margin:0 auto;
/*设置上边距*/
margin-top:10px;
/*设置边框*/
/*border:1px solid;*/
}

.页脚1-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:30px;
margin-right:20px;
}

.页脚1-2-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:20px;
margin-right:51px;
}

.页脚2-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:210px;
margin-right:210px;
}

.隔离盒子{
/*设置宽高*/
width:auto;
height:30px;
/*设置边框*/
/*border:1px solid;*/
}