/**/
/*清空默认内外边距，加上就对了*/
*{padding:0;
margin:0;
/*使用css3盒子模型*/
box-sizing:border-box;
}
/*取消em,i标签的文字倾斜*/
em,i{
font-style:normal;
}
li{
/*去掉li的小圆点*/
list-style:none;
}
img{
/*为了兼顾低版本浏览器-如果图片外面有链接会有边框的问题*/
border:0;
/*取消图片底侧右空白的问题*/
vertical-align:middle;
}
button{
/*鼠标经过button时会变成小手，告诉用户可以点击*/
cursor:pointer;
}
.a{
/*设置颜色*/
color:#666;
/*取消下划线*/
text-decoration:none;
}
a:hover{
/*鼠标经过变红色*/
color:red;
}
.button,input{
/*给所有的按钮指定字体-\5B8B\4F53表示宋体，如果使用中文会出现乱码情况所以不用中文*/
font-family:Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}
.body{
/*抗锯齿让文字显示更加清晰-拼写没错*/
-webkit-font-smoothing:antialiased;
/*设置背景色*/
background-color:white;
/*指定字体大小/1.5倍行高，及字体*/
font:12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
/*字体颜色*/
color:#666;
}
/*清除浮动-使用伪元素(类似于两个类选择器，只需要在父元素中调用该类选择器（用clearfix名即可）即可，可以调用多个（用空格隔开）如class="选择器1 clearfix")*/
.clearfix:after{
content:"";display:block;height:0;clear:both;visibility:hidden;
}
.clearfix{
/*解决IE6,IE7兼容问题*/
*zoom:1;
}