/**/
/*清空默认内外边距*/
*{padding:0;
margin:0;}

body{
/*设置图片自适应*/
background-size:100%;
/*设置背景图片*/
background-image:url(../image/背景2.jpg);
/*背景不平铺*/
background-repeat:no-repeat;
/*背景固定*/
/*background-attachment:fixed;*/
}

.导航栏{
/*设置宽高*/
width:auto;
height:60px;
background:rgba(255,255,255,0.2);
}

.首页,.关于,.分类,.标签{
/*设置宽高*/
width:100px;
height:auto;
/*加粗*/
font-weight:bold;
/*字体居中*/
text-align:center;
/*浮动*/
float:left;
/*上下外边距*/
margin-top:18px;
}

a{
/*设置白色字体*/
color:rgb(255,255,255);
}

.导航栏-a:hover{
/*鼠标指针位于其上变大*/
font-size:110%;
}

.展示框{
/*设置宽度*/
width:1200px;
/*设置背景颜色*/
/*background-color:white;*/
/*设置边框*/
/*border-width:5px;*/
/*设置边框线*/
/*border-style:solid;*/
/*相对定位*/
position:relative;
/*边偏移*/
top:800px;
/*设置左右外边距*/
margin-left:150px;
margin-right:200px;
}

.主要内容{
/*设置宽高*/
width:800px;
height:1200px;
background-color:white;
/*左浮动*/
float:left;
/*设置边框*/
border-width:2px;
/*设置边框线*/
border-style:solid;
/*边框颜色*/
border-color:blue;
/*设置外边框圆角*/
border-radius:25px;
/*设置内边框*/
padding-left:30px;
}

.阅读-div{
width:140px;
height:40px;
border-width:1px;
border-style:solid;
border-color:#ffbbf47a;
background-color:#ffbbf47a;
/*设置外边框圆角*/
border-radius:10px;
/*相对定位*/
position:relative;
/*上右边距离*/
top:5px;
left:670px;
}
.阅读-div:hover{
left:675px;
}
.阅读-a{
color:white;
/*绝对定位*/
position:absolute;
top:8px;
left:35px;
right:10px;
}

.个人中心{
width:300px;
height:400px;
background-color:green;
/*右浮动*/
float:right;
/*设置边框*/
border-width:2px;
/*设置边框线*/
border-style:solid;
/*边框颜色*/
border-color:white;
/*设置外边框圆角*/
border-radius:25px;
}

/*清除浮动*/
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{/*解决IE6,IE7兼容问题*/*zoom:1;}

/*.空盒子{
width:500px;
height:740px;
background-color:pink;
margin-left:auto;
margin-right:auto;
}*/

.页脚盒{
/*设置宽高*/
width:auto;
height:100px;
position:relative;
top:900px;
}

.页脚1{
/*设置宽高*/
width:400px;
height:30px;
margin:0 auto;
margin-top:5px;
/*设置边框*/
/*border:1px solid;*/
}
.页脚2{
/*设置宽高*/
width:500px;
height:30px;
margin:0 auto;
margin-top:10px;
/*设置边框*/
/*border:1px solid;*/
}
.页脚1-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:30px;
margin-right:20px;

}
.页脚1-2-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:20px;
margin-right:51px;
}
.页脚2-span{
/*左浮动*/
float:left;
/*外边距*/
margin-top:4px;
margin-bottom:5px;
margin-left:210px;
margin-right:210px;
}

.固定定位{
position:fixed;
/*固定定位*/
top:0;
right:0;
z-index:1;
/*叠放次序*/
}
.固定定位-技巧{
position:fixed;
/*固定定位*/
left:50%;
margin-left:225px;
z-index:1;
/*叠放次序*/
}
.鼠标样式{
cursor:pointer;
}

.表单{
/*设置宽高*/
width:auto;
height:auto;
/*右浮动*/
float:right;
/*绝对定位*/
position:absolute;
/*边偏移*/
top:420px;
left:900px;

}
input{
/*对表单添加*/
/*掉默认的蓝色边框*/
outline:0;
}

.文本域{
/*右浮动*/
float:right;
/*绝对定位*/
position:absolute;
/*边偏移*/
top:450px;
left:900px;
}
textarea{
/*对文本域添加*/
/*掉默认的蓝色边框*/
outline:0;
/*设置文本域不可拖拽*/
resize:none;
}